@font-face {
    font-family: "Calibre";
    src: url("Calibre.ttc");
}
@font-face {
    font-family: "Prata";
    src: url("Prata-Regular.ttf");
}
html{
    font-family: "Calibre";
    font-size: 18px;
    font-weight: light;
}
@media screen and (max-width: 800px) {
    .video-banner-section{
        height: 400px;
    }
    .metvideo{
        height: 50vh;
    }
    
}
body{
    margin: 0;
}
header{
    display: grid;
    padding-bottom: 10px;
    grid-template-columns: .95fr 9fr;
    grid-template-rows: .2fr .8fr;
    background-color: #ec042b;
    box-sizing: border-box;
    padding-top: 0;
    padding-bottom: 2px;
}
.logo{
    display: grid;
    width: 60px;
    height: 60px;
    margin-left: 7vw;
    margin-top: auto;
    margin-bottom: 20px;
    padding-bottom: 0px;
    align-self:flex-end;
    grid-column: 1;
    grid-row: span 2;
    padding-bottom: 5px;
    box-sizing: border-box;
    background-color: rgba(0, 0, 0, 0);
    transition: all .2s;
}
.logo:hover{
    background-color: rgba(0, 0, 0, .4);
    background-size: 20px;
}
.logomet{
    width: 40px;
    height: 40px;
    margin: auto;
}
a{
    text-decoration: none;
}
/* Navigasyon */
.navigation{
    display: flex;
    font-family: "Calibre";
    font-weight:light;
    font-size: 20px;
    grid-row: 2;
    grid-column: 2;
    text-align: center;
    margin-left: 0px;
    padding-bottom: 14px;
    padding-top: 5px;
    box-sizing: border-box;
}
.navigation ul{
    display: grid;
    width: 700px;
    grid-template-columns: .65fr 1.99fr .7fr 1.5fr 1fr 1fr;
    color: white;
}
ul{
    list-style-type: none;
}
.visit-nav{
    text-align: center;
    margin: auto;
}
.exhibitions-nav{
    text-align: center;
    margin: auto;
}
.art-nav{
    margin-left: 10px;
    margin: auto;
}
.learn-nav{
    margin: auto;
}
.research-nav{
    margin: auto;
}
.shop-nav{
    margin: auto;
}
.search-navigation{
    display: flex;
    font-size: 18px;
    grid-row: 2;
    grid-column: 2;
    margin-left: auto;
    margin-right: 8%;
}
.group-search{
    margin: auto;
}
.bi{
    transform: scaleX(-1);
}
.search-nav{
    margin-left: auto;
}
a, a:visited{
    color: inherit;
}
.group{
    padding-left: 0px;
    margin: 0px;
}
.top-menu{
    margin-bottom: auto;
    margin-left: auto;
    margin-right: 5.8%;
    display: flex;
    grid-column: 2;

}
.top-menu ul{
    display: grid;
    width: 350px;
    grid-template-columns: .55fr .9fr .01fr .9fr;
}
.top-group{
    margin-bottom: 0px;
    margin-top: 0px;
    font-size: 15px;
    padding-left: 0;
    color: white;
}
.buy{
    background-color: rgba(0, 0, 0, .2);
    margin-top: 0px;
    padding: 8px 7px 5px 7px;
    text-align: center;
    transition: all .2s;
}
.buy:hover{
    background-color: rgba(0, 0, 0, .4);
}
.member{
    padding: 8px 7px 5px 7px;
    margin: auto;
    margin-top: 0;
}
.donation{
    margin-right: auto;
    padding: 8px 7px 5px 0px;
    margin: auto;
    margin-top: 0;
}
.bos-cizgi{
    padding: 0;
    margin: auto;
}
.hover-underline-animation {
    display: inline-block;
    position: relative;
    color: white;
}
.hover-underline-animation:after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: white;
    transform-origin: bottom left;
    transition: transform 0.25s ease-out;
}
.hover-underline-animation:hover:after {
        transform: scaleX(1);
        transform-origin: bottom left;
}
.w3rcontainer{
        border: 1px solid white;
        border-radius: 2px;
}
/* Video Banner*/
.video-banner{
    position: relative;
}
.video-banner-section{
    width: 100vw;
    height: 37vw;
    min-height: 576px;
    overflow-y: hidden;
    overflow-x: hidden;
}
.metvideo{
    width: 100vw;
    height: 100vw;
    min-height: 500px;
    transform: translate(0%, -30%);
    filter: brightness(.60);
}
.welcome-text{
    margin: auto;
    text-align: center;
    font-size: 60px;
    font-family: "Playfair", serif;
    color: white;
    display: grid;
}
.banner-text{
    display: grid;
    top: 0;
    position: absolute;
    width: 100vw;
    height: 37vw;
    z-index: 99;
}
.plan-button{
    font-family: "Calibre";
    font-size: 20px;
    border: 2px solid white;
    border-radius: 4px;
    margin: auto;
    max-width: fit-content;
    padding: 13px 20px;
    padding-bottom: 11px;
    transition: all .3s;
}
.plan-button:hover{
    background-color: white;
    color: black;
}